#arjsDebugUIContainer {
    display: none;
}

.a-enter-vr-button {
    display: none;
}


/* custom styles */
.modal-window {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: none;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: 30px;
}

.send-wishes {
    position: absolute;
    left: calc(50% - 100px);
    bottom: 30px;
    width: 200px;
}

.btn {
	background-color:#e4685d;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
    border: none;
}

.open-modal {
    position: absolute;
    left: calc(50% - 100px);
    bottom: 30px;
    width: 200px;
    z-index: 90;
}