@import './spinner.css';
@import './arlibDefault.css';
@import './preloader.css';
@import './buttons.css';
@import './modal.css';
@import './form.css';

/* general */

body {
    overflow: hidden;
    font-family: 'Circe', sans-serif;
}

textarea {
    resize: none;
    padding: 10px;
    border-radius: 13px;
    width: 88%;
    height: 345px;
    border: 1px solid #DECFC6;
    background: transparent;
    color: #DECFC6;
    outline: none;
}

.btn {
	background-color:#DECFC6;
	border-radius:170px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
    border: none;
}

@media (max-width: 375px) {
    textarea {
        width: 82%;
        height: 205px;
    }
}